[submodule "node-modules/node-compress"]
	path = node-modules/node-compress
	url = git://github.com/BrightTag/node-compress.git
[submodule "node-modules/node-readability"]
	path = node-modules/node-readability
	url = git://github.com/arrix/node-readability.git
[submodule "node-modules/node-expat"]
	path = node-modules/node-expat
	url = git://github.com/astro/node-expat.git
[submodule "node-modules/node-iconv"]
	path = node-modules/node-iconv
	url = git://github.com/bnoordhuis/node-iconv.git
